<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'show.css' %}">
    <title>Signup page</title>
</head>
<body>
    <div id="DivOne"> 
        <form action="admin/" method="post">
            {% csrf_token %}
            <h3>Name <input type="text" name="name" id="name"></h3>
            <h3>Email <input type="email" name="email" id="email"></h3>
            <h3>Password <input type="password" name="password" id="password"></h3>
            <h3>Contact Number <input type="text" name="usercontactnumber" id="usercontactnumber"></h3>
            <h3>User Type <input type="text" name="usertype" id="usertype"></h3>
            <!-- Location Fields -->
            <h3>Latitude <input type="text" name="latitude" id="latitude"></h3>
            <h3>Longitude <input type="text" name="longitude" id="longitude"></h3>
            <h3>Street <input type="text" name="street" id="street"></h3>
            <h3>City <input type="text" name="city" id="city"></h3>
            <h3>State <input type="text" name="state" id="state"></h3>
            <h3>Country <input type="text" name="country" id="country"></h3>
            <h3>Postal Code <input type="text" name="postalcode" id="postalcode"></h3>
            <h3>Altitude <input type="text" name="altitude" id="altitude"></h3>
            <h3>Timezone <input type="text" name="timezone" id="timezone"></h3>
    
            <input type="submit" id="btn">
        </form>
    </div>
    



    
</body>
</html>